body{
  background: rgb(210, 214, 211);
}

.form-container{
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 10px 0px;
}
.bg{
  width: 32px;
  height: 32px;
  position: absolute;
  top: 45px;
  left: 65%;
}

/* a.active {
  background-color: #4CAF50;
  color: white;
  font-style: bold;
  border-right: #333 10px solid;
} */

.card {
  margin-bottom: 15px;
}




